---
title: API Reference

language_tabs:
  - shell
  - ruby
  - javascript

toc_footers:
  - <a href='#'>Generate your HMAC key</a>
  - <a href='http://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - errors

search: true
---
# Introduction
<%= partial "partials/api/introduction" %>

# Getting Started
<%= partial "partials/api/gettingstarted" %>

# Projects
<%= partial "partials/api/projects" %>

# Cards
<%= partial "partials/api/cards" %>

# Properties
<%= partial "partials/api/properties" %>

# Transitions
<%= partial "partials/api/transitions" %>

# MQL
<%= partial "partials/api/MQL" %>

# Events
<%= partial "partials/api/events" %>

# Favorites
<%= partial "partials/api/favorites" %>

# Objectives
<%= partial "partials/api/objectives" %>

# Comments and Murmurs
<%= partial "partials/api/murmurs" %>

# Users
<%= partial "partials/api/users" %>

# Version Info
<%= partial "partials/api/versions" %>

# Tips and Tricks
<%= partial "partials/api/tipsntricks" %>


